/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 28, 2023, 5:17:27 PM
    Author     : sbs
*/
.tile-pane {
    -fx-background-color: #FFFFFF;
    -fx-border-width: 3px;
    -fx-border-color: #ccc;
        -fx-alignment: center;
         -fx-background-color: #f2f2f2;
    -fx-padding: 4px;
    -fx-border-radius: 2px;
    -fx-border-color: #ddd;
}

.tile-pane > * {
    -fx-spacing: 10px;
    -fx-padding: 4px;
}
.label-prefix {
    -fx-font-weight: bold;
    -fx-fill: #008080;
}

.label-value {
    -fx-fill: black;
}


/*.label {
    -fx-font-size: 16px;
    -fx-padding: 10px;
    -fx-background-color: #FFFFFF;
    -fx-border-color: #DDDDDD;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;*/

